*{
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-1, .box-2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 115px;
  padding: 3px;
  background: transparent;
}
.box-1{
  border: 2px solid grey;
  position: absolute;
  animation: clockwise 3s ease-in-out 0s infinite alternate;
}
.box-2{
  border: 2px solid black;
  left: -115px;
  width: 115px;
  height: 115px;
  background-color: transparent;
  transform: rotate(45deg);
  animation: xclockwise 3s ease-in-out 0s infinite alternate;
}
@keyframes clockwise {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes xclockwise {
  0%{
    transform: rotate(45deg);
  }
  25%{
    transform: rotate(-45deg);
  }
  50%{
    transform: rotate(-135deg);
  }
  75%{
    transform: rotate(-225deg);
  }
  100%{
    transform: rotate(-315deg);
  }
}
